.App {
  background-color: #282c34;
  color: rgb(113, 166, 218);
  min-height: 100vh;
}
h1 {
  font-size: 4rem;
  padding-top: 20px;
  text-align: center;
  text-decoration: underline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}